<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desafio - AutoU</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
  >

  <style>
    body {
      font-family: 'Inter', sans-serif;
      background-color: #FFF5EE;
      color: #DCDCDC;
    }

    .navbar {
      background-color: #F8F8FF;
    }

    .btn-primary {
      background-color: #FFA500;
      border: none;
      color: #0f172a;
    }

    .btn-primary:hover {
      background-color: #FF8C00;
    }

    .btn-success {
      background-color: #E0FFFF;
      border: none;
      color: #0f172a;
      font-weight: 500;
    }

    .btn-success:hover {
      background-color: #B0E0E6;
    }

    .card {
      border: yellow;
      border-radius: 12px;
    }

  </style>
</head>

<body class="bg-gradient">

  <nav class="navbar shadow-sm bg-gradient mb-4">
    <div class="container d-flex align-items-center">
      <a href="/" class="d-flex align-items-center text-decoration-none">
        <img src="{{ url_for('static', filename='logo.png') }}" width="70" height="70" class="me-2">
      </a>

      <ul class="nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" target="_blank"
             href="https://www.linkedin.com/in/thallesnascimento">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" target="_blank"
             href="https://github.com/Thalles-Ribeiro-Nascimento">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Conteúdo -->
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">

        <div class="card shadow-sm mb-4">
          <div class="card-body p-4">
            <h2 class="fw-semibold mb-4">
              Desafio - AutoU
            </h2>

            <p>
            <h3>Análise do seu e-mail com Inteligência Artificial</h3>
            </p>

            <form action="/" method="POST">
              <div class="mb-2">
                <textarea
                  name="email_text"
                  class="form-control"
                  rows="2"
                  placeholder="Cole o conteúdo do e-mail aqui"
                >{{ text }}</textarea>
              </div>

              <button type="submit" class="btn btn-primary w-100">
                Analisar Texto
              </button>
            </form>
              <p>

              <div class="card shadow-sm">
                <div class="card-body p-4">
                  <h6 class="fw-semibold mb-1">
                    Selecione um arquivo
                  </h6>

                  <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                      <input
                        type="file"
                        class="form-control"
                        name="email_file"
                        accept=".pdf,.txt,application/pdf,text/plain"
                        required
                      >
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                      Processar Arquivo
                    </button>
                  </form>

                    {% if result %}
                    <div class="alert alert-primary mt-4">
                      <p class="mt-2"><strong>Categoria:</strong> {{ result }}</p>
                      <p class="mb-1"><strong>Resposta sugerida:</strong></p>
                      <p class="mb-0">{{ response }}</p>
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger mt-4">
                        <p class="mb-1"><strong>Erro:</strong></p>
                        <p class="mb-0">{{ error }}</p>
                    </div>
                    {% endif %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center text-muted py-4">
    <small>
      Author · Thalles Ribeiro Nascimento
    </small>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
  </script>
</body>
</html>
