
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/desafio_autou

  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
    restart: always

volumes:
  n8n_data:
